fieldset{
 height: 80%;
 }
 
fieldset.output {
 border: 0;
 }

form{
 width: 280px;
 height: 285px;
 position: absolute;
 left: 40px;
 top: 60px; 
 }

#radios{
 float: left;
 }
 
#years{
 float: right;
 }
 
#button{
 position: absolute;
 bottom: 45;
 }
 
#simOutput{
 width: 875px;
 height: 900px;
 position: absolute;
 left: 350px;
 top: 8px; 	
 }

#tabs{
 position: absolute;
 background-color: #DFE8F6;
 border: 1px solid black;
 border-bottom: 1px solid #DFE8F6;
 padding: 2px 4px 2px 4px;
 left: 150px;
 top: 1px; 
 }
 
#tabs a{
 text-decoration: none;
 text-align:center;
 color: black;
 }

#outputFrame{
 background-color: #DFE8F6;
 border: 1px solid black;
 width: 90%;
 height: 100%;
 }